

params {
     
     //-------------  genome options
     genome_fa = '/media/hpc/grid/hgcb/workspace/projects/VEP/vep_plugin/hg38.fasta'
     //-------------  global options
     vcf_path = '/media/lustre/scratch/lis262/blca' # put the vcf file you want to annotate in this path
     cpu = 24
     mem = 60  // in unit of GB

     loftee_path = '/media/hpc/grid/hgcb/workspace/projects/VEP/vep_plugin/loftee_grch38'
     vep_db = '/media/hpc/grid/hgcb/workspace/projects/VEP/vep_plugin/vep_db_101_GRCH38'
     CADD_SNV = '/media/hpc/grid/hgcb/workspace/projects/CADDv1_6/whole_genome_SNVs.tsv.gz'
     CADD_INDEL = '/media/hpc/grid/hgcb/workspace/projects/CADDv1_6/gnomad.genomes.r3.0.indel.tsv.gz'
     
}
