

params {
     
     //-------------  genome options
     genome_fa = '/media/hpc/grid/wip_drm_targetsciences/users/shangzhong/publicDB/gatk_homo38_index/hg19.fa'
     //-------------  global options
     vcf_path = '/media/lustre/scratch/lis262/tcga_no_loftee'
     cpu = 24
     mem = 60  // in unit of GB

     loftee_path = '/media/hpc/grid/wip_drm_targetsciences/projects/VEP_plugin/loftee_grch37'
     vep_db = '/media/hpc/grid/wip_drm_targetsciences/projects/VEP_plugin/vep_db_101_GRCH37'
     CADD_SNV = '/media/hpc/grid/hgcb/workspace/projects/CADDv1_6/GRCh37/whole_genome_SNVs.tsv.gz'
     CADD_INDEL = '/media/hpc/grid/hgcb/workspace/projects/CADDv1_6/GRCh37/gnomad.genomes.r2.1.1.indel.tsv.gz'
     
}
